{% load static %}  <!DOCTYPE html>

<html>
<head>
    <title>Costco Card Data</title>
    <link rel="stylesheet" href="{% static 'fin/css/styles.css' %}">
</head>
<body>
    <h1>Data from Costco Card</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Deposit</th>
                <th>Withdrawal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.costco_date|default:"N/A" }}</td>
                    <td>{{ item.costco_desc|default:"No description" }}</td>
                    <td>{{ item.costco_deposit|default:"0.00" }}</td>
                    <td>{{ item.costco_with|default:"0.00" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>