{% load static %}  <!DOCTYPE html>

<html>
<head>
    <title>USA Stock Data</title>
    <link rel="stylesheet" href="{% static 'fin/css/styles.css' %}">
</head>
<body>
    <h1>Data for USA Stock Purchase</h1>
    <table>
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Tran</th>
                <th>Date</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Commision</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
    
                    <td>{{ item.ust_tick|default:"N/A" }}</td>
                    <td>{{ item.ust_name|default:"No description" }}</td>
                    <td>{{ item.ust_tran|default:"0.00" }}</td>
                    <td>{{ item.ust_date|default:"N/A" }}</td>
                    <td>{{ item.ust_qty|default:"No description" }}</td>
                    <td>{{ item.ust_price|default:"0.00" }}</td>
                    <td>{{ item.ust_commision|default:"0.00" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>