{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Table: {{ table_name }}</title>
    <link rel="stylesheet" href="{% static 'fin/css/styles.css' %}">
</head>
<body>
    <h1>{{ table_name }}</h1>

    <table>
        <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field|title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in page_data.object_list %}  {# Use page_data.object_list #}
                <tr>
                    {% for field in fields %}
                        <td>{{ row|custom_getattr:field }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if page_data.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_data.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_data.number }} of {{ page_data.paginator.num_pages }}.
            </span>

            {% if page_data.has_next %}
                <a href="?page={{ page_data.next_page_number }}">next</a>
                <a href="?page={{ page_data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>
</html>